@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Montserrat:wght@100..900&display=swap');
:root{
    --body-font: "Montserrat", serif;
    --second-font: "Montagu Slab", serif;
    --first-color: hsl(230, 62%, 56%);
    --title-color: hsl(230, 70%, 16%);
    --text-color: hsl(230, 16%, 45%);
    --container-color: hsl(230, 100%, 97%);
    --second-container-color: hsla(230, 100%, 97%, 0.9);
    --border-color: hsl(230, 50%, 90%);
    --background-color: hsl(230, 100%, 96%);
    --box-shadow: 0 -8px 32px hsla(0, 0%, 0%, .1);
}
*{
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--background-color);
    font-family: var(--body-font);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* small */
@media (min-width: 768px){
	.container{
		width: 750px;
	}
}
/* medium */
@media (min-width: 992px){
	.container{
		width: 970px;
	}
}
/* large */
@media (min-width: 1200px){
	.container{
		width: 1170px;
	}
}

/* start scroll bar */

::-webkit-scrollbar{
    width: .7rem;
    background-color: hsl(230, 100%, 96%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(230, 100%, 86%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(230, 100%, 76%);
}

/* end scroll bar */

/* start header */

.header{
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    z-index: 100;
    box-shadow: var(--box-shadow);
    transition: box-shadow .4s , background-color .4s;
}
.header-down{
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    z-index: 100;
    box-shadow: var(--box-shadow);
    transition: box-shadow .4s , background-color .4s;
    display: none;
}
@media (max-width: 992px){
	.header-down{
		display: block;
	}
}
.header-down .down-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 18px;
}
.header-down a{
    margin-left: 30px;
}
.header-down a i{
    color: var(--title-color);
    font-size: 20px;
}
.header-down ul li a:hover,
.header-down ul li a.active,
.header-down a i:hover{
    color: var(--first-color);
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo span{
    color: var(--first-color);
    margin-left: 5px;
    font-weight: 500;
}
.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 992px){
	.header-container ul{
		display: none;
	}
}
.header-container ul li{
    margin-right: 50px;
}
.header-container ul li a{
    color: var(--title-color);
    font-weight: 450;
}
.header-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-icons a{
    margin-left: 30px;
}
@media (max-width: 992px){
	.header-icons a{
		margin-left: 60px;
	}
}
@media (max-width: 420px){
	.header-icons a{
		margin-left: 30px;
	}
}
.header-icons a i{
    color: var(--title-color);
    font-size: 20px;
}
.header-container ul li a:hover,
.header-container ul li a.active,
.header-icons a i:hover{
    color: var(--first-color);
}
#toggle-button{
    transition: transform 0.3s;
}
#icon-button.clicked #toggle-button{
    transform: scale(1.5);
}

/* end header */

/* start search */

.model{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--second-container-color);
    z-index: 1000;
    transition: top 0.5s ease;
}
.model.open-one{
    top: 0;
}
.model-content{
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    width: 100%;
    padding: 3px 0;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
}
@media (max-width: 420px){
	.model-content{
        width: 80%;
    }
}
.model-content i{
    color: var(--title-color);
}
.model-content input{
    outline: none;
    padding: 10px 10px;
    width: 80%;
    border: none;
    background-color: var(--container-color);
}
.model-content input::placeholder{
    color: var(--text-color);
}
@media (max-width: 420px){
	.model-content input::placeholder{
        font-size: 13px;
    }
}
.search-close{
    position: absolute;
    right: 50%;
    cursor: pointer;
    font-size: 50px;
    bottom: 55px;
    text-align: center;
    color: var(--title-color);
}
@media (max-width: 420px){
	.search-close{
        right: 44%;
    }
}
.search-close:hover{
    color: var(--first-color);
}

/* end search */

/* start user button */

.user-model{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--second-container-color);
    z-index: 1000;
    text-align: center;
    transition: top 0.5s ease;
}
.user-model.open{
    top: 0;
}
.user-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    padding: 30px;
    max-width: 400px;
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
}
@media (max-width: 420px){
	.user-content{
        width: 80%;
    }
}
.user-content h3{
    color: var(--title-color);
    font-family: var(--second-font);
    font-size: 25px;
    font-weight: 550;
    margin-bottom: 25px;
    text-align: center;
}
.user-content p{
    font-size: 13px;
    color: var(--text-color);
    margin-bottom: 10px;
    text-align: center;
}
@media (max-width: 420px){
	.user-content p{
        font-size: 10px;
    }
}
.user-content p a{
    color: var(--title-color);
    font-weight: 500;
}
.user-content p a:hover{
    color: var(--first-color);
}
.user-content button{
    background-color: var(--first-color);
    padding: 13px;
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: box-shadow .4s;
    width: 95%;
    margin-top: 20px;
}
.user-content button:hover{
    box-shadow: 0 4px 32px hsla(230, 72%, 32%, .4);
}
.user-content input{
    outline: none;
    padding: 12px 12px;
    width: 95%;
    border: none;
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    margin-bottom: 25px;
    margin-left: auto;
}
@media (max-width: 420px){
	.user-content input{
        padding: 10px 10px;
    }
}
.user-content label{
    font-size: 14px;
    color: var(--title-color);
    font-weight: 500;
    margin-right: 250px;
}
@media (max-width: 420px){
	.user-content label{
        margin-right: 142px;
    }
}
.user-content .email{
    margin-left: -22px;
}
.user-content input::placeholder{
    color: var(--text-color);
    font-size: 13px;
}
.user-close{
    position: absolute;
    right: 0;
    left: 50%;
    cursor: pointer;
    font-size: 50px;
    top: -70px;
    text-align: center;
    color: var(--title-color);
    transform: translate(-50%, -50%);
}
.user-close:hover{
    color: var(--first-color);
}

/* end user button */

/* start dark mode */

body.dark-mode{
    --background-color : hsl(230, 12%, 8%);
    --title-color: hsl(230, 48%, 85%);
    --text-color: hsl(230, 16%, 70%);
    --container-color: hsl(230, 12%, 12%);
    --border-color: hsl(230, 12%, 18%);
    --second-container-color: hsla(230, 12%, 12%, 0.9);
    --box-shadow: 0 2px 16px hsla(0, 0%, 0%, .4);
}
.dark-mode::-webkit-scrollbar{
    width: .7rem;
    background-color: hsl(230, 12%, 8%);
}
.dark-mode::-webkit-scrollbar-thumb{
    background-color: hsl(230, 12%, 18%);
}
.dark-mode::-webkit-scrollbar-thumb:hover{
    background-color: hsl(230, 12%, 28%);
}

/* end dark mode */

/* start home */

.home-container{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}
@media (max-width: 768px){
	.home-container{
        display: flex;
        flex-direction: column;
	}
}
@media (max-width: 768px){
	.home-content{
		text-align: center;
        padding-top: 50px;
	}
}
.home-content h1{
    font-size: 50px;
    font-family: var(--second-font);
    color: var(--title-color);
    margin-bottom: 0;
    font-weight: 550;
}
@media (max-width: 992px){
	.home-content h1{
		font-size: 35px;
	}
}
.home-content p{
    margin-top: 10px;
    margin-bottom: 40px;
    color: var(--title-color);
    line-height: 1.3;
    font-size: 15.5px;
}
@media (max-width: 992px){
    .home-content p{
        font-size: 13px;
        margin-bottom: 20px;
	}
}
.home-content button{
    background-color: var(--first-color);
    padding: 13px;
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: box-shadow .4s;
}
.home-content button:hover{
    box-shadow: 0 4px 32px hsla(230, 72%, 32%, .4);
}
.home-container .swiper-section{
    overflow: hidden;
}
.home-container .swiper-container{
    width: calc(100% + 25px);
    max-width: 700px;
    height: 300px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 350px;
}
@media (max-width: 768px){
	.home-container .swiper-container{
        width: 100%;
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        margin: auto;
        padding-left: 255px;
        padding-right: 194px;
        overflow: hidden;
	}
}
@media (max-width: 420px){
	.home-container .swiper-container{
        max-width: 270px;
        padding-left: 54px;
        padding-right: 25px;
        margin-left: 6px;
        padding-top: 34px;
	}
}
.home-container .swiper-slide img{
    width: 80%;
    transition: transform 0.3s ease;
    margin-top: 30px;
}
@media (max-width: 768px){
	.home-container .swiper-slide img{
        width: 200px;
	}
}
@media (max-width: 992px){
    .home-container .swiper-slide img{
        margin-top: 80px;
	}
}
@media (max-width: 420px){
	.home-container .swiper-slide img{
        width: 150px;
	}
}
.home-container .swiper-slide-active img{
    transform: scale(1.3);
}

/* end home */

/* start icons */

.icons-container{
    display: flex;
    padding-top: 100px;
    padding-bottom: 80px;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}
@media (max-width: 992px){
    .icons-container{
        padding-top: 80px;
        padding-left: 60px;
        padding-right: 60px
	}
}
@media (max-width: 420px){
	.icons-container{
        flex-direction: column;
        gap: 40px;
        padding-top: 60px;
        padding-bottom: 60px;
	}
}
.icon{
    text-align: center;
}
.icon i{
    font-size: 40px;
    color: var(--first-color);
}
.icon h4{
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: 500;
}
.icon p{
    font-weight: 400;
    font-size: 15px;
    color: var(--text-color);
}

/* end icons */

/* start featured */

.featured-container{
    padding-top: 50px;
    padding-bottom: 60px;
    text-align: center;
}
.featured-container h1{
    font-family: var(--second-font);
    color: var(--title-color);
    margin-bottom: 50px;
    font-weight: 500;
}
.featured-container .book-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 20px;
    margin-left: 10px;
}
.featured-container .book-boxes .box{
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    padding: 25px 55px;
    position: relative;
    transition: border .4s , background-color .4s;
    cursor: pointer;
    overflow: hidden;
    display: inline-table;
}
.box .featured-icons{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: -100px;
    top: 31px;
    transition: 0.3s;
}
.featured-container .book-boxes .box:hover .featured-icons{
    right: 18px;
}
.box .featured-icons i{
    margin-bottom: 24px;
    color: var(--title-color);
}
.box .featured-icons i:hover{
    color: var(--first-color);
}
.featured-container .book-boxes .box img{
    width: 150px;
    margin-bottom: 10px;
}
.featured-container .book-boxes .box h4{
    margin-bottom: 7px;
    font-family: var(--second-font);
    font-weight: 500;
    font-size: 18px;
    color: var(--title-color);
}
.featured-container .book-boxes .box span{
    color: var(--text-color);
}
.featured-container .book-boxes .box .second{
    text-decoration: line-through;
    margin-left: 5px;
    font-size: 13px;
}
.box button{
    background-color: var(--first-color);
    padding: 13px 20px;
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: box-shadow .4s;
    display: block;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
}
.box button:hover{
    box-shadow: 0 4px 32px hsla(230, 72%, 32%, .4);
}
.swiper-button-prev::after,
.swiper-button-next::after{
    content: " ";
}
.swiper-button-prev,
.swiper-button-next{
    width: initial;
    height: initial;
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    padding: .5rem;
    font-size: 1.5rem;
    color: var(--first-color);
    transition: border .4s background-color .4s;
}

/* end featured */

/* start discount */

.discount-container{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 80px;
}
@media (max-width: 420px){
	.discount-container{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 50px;
        padding-bottom: 60px;
	}
}
.discount-container .discount-image{
    position: relative;
}
.discount-container .discount-image img{
    width: 270px;
    position: absolute;
}
@media (max-width: 420px){
	.discount-container .discount-image img{
        width: 150px;
	}
}
.discount-container .discount-image .discount-image-1{
    rotate: -12deg;
    left: 60px;
    top: -120px;
}
@media (max-width: 420px){
	.discount-container .discount-image .discount-image-1{
        left: -143px;
        top: -7px;
	}
}
.discount-container .discount-image .discount-image-2{
    rotate: 12deg;
    right: 100px;
    top: -120px;
}
@media (max-width: 420px){
    .discount-container .discount-image .discount-image-2{
        right: -137px;
        top: -8px;
	}
}
.discount-container .discount-content{
    padding-top: 100px;
}
@media (max-width: 420px){
	.discount-container .discount-content{
        padding-top: 0;
        margin-bottom: 70px;
        text-align: center;
    }
}
.discount-container .discount-content h1{
    font-size: 35px;
    font-family: var(--second-font);
    color: var(--title-color);
    margin-bottom: 0;
    font-weight: 550;
}
.discount-container .discount-content p{
    margin-top: 10px;
    margin-bottom: 40px;
    color: var(--title-color);
    line-height: 1.3;
    font-size: 15px;
}
.discount-container .discount-content button{
    background-color: var(--first-color);
    padding: 13px;
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: box-shadow .4s;
}
.discount-container .discount-content button:hover{
    box-shadow: 0 4px 32px hsla(230, 72%, 32%, .4);
}

/* end discount */

/* start new-book */

.new-container{
    text-align: center;
    margin-top: 200px;
    padding-top: 50px;
    margin-bottom: 150px;
}
.new-container .new-swiper{
    margin-bottom: 20px;
}
.new-container h1{
    font-family: var(--second-font);
    color: var(--title-color);
    margin-bottom: 60px;
    font-weight: 500;
}
@media (max-width: 420px){
	.new-container h1{
        margin-bottom: 40px;
    }
}
.new-container .new-book{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 20px;
    margin-left: 10px;
}
.new-container .new-book .new-box{
    width: calc(100% / 3);
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    display: flex;
    padding: 20px 0;
    cursor: pointer;
}
.new-container .new-book .new-box:hover{
    border-color: hsl(229, 64%, 78%)
}
.new-container .new-book .new-box img{
    width: 100px;
    margin-left: 20px;
}
@media (max-width: 992px){
    .new-container .new-book .new-box img{
        margin-left: 60px;
	}
}
@media (max-width: 420px){
	.new-container .new-book .new-box img{
        margin-left: 20px;
	}
}
.new-container .new-book .new-box .new-content{
    align-items: center;
    margin: auto;
    margin-left: 35px;
}
.new-container .new-book .new-box .new-content h4{
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: 10px;
}
.new-container .new-book .new-box .new-content span{
    color: var(--text-color);
    font-size: 15px;
}
.new-container .new-book .new-box .new-content .old{
    text-decoration: line-through;
    font-size: 12px;
}
.new-container .new-book .new-box .new-content .book-icon{
    margin-top: 10px;
}
.new-container .new-book .new-box .new-content .book-icon i{
    color: var(--first-color);
    font-size: 13px;
}

/* end new-book */

/* start join */

.join-container{
    background-image: url("../imgs/join-bg.jpg");
    background-size: cover;
    text-align: center;
    padding-bottom: 60px;
    margin-top: 60px;
}
.join-container h1{
    font-family: var(--second-font);
    color: white;
    margin-bottom: 45px;
    font-weight: 500;
    padding-top: 60px;
}
@media (max-width: 420px){
	.join-container h1{
        font-size: 25px;
    }
}
.join-container input{
    padding: 15px;
    width: 23%;
    border: none;
    outline: none;
    margin-bottom: 20px;
    background-color: var(--container-color);
}
@media (max-width: 768px){
	.join-container input{
        width: 40%;
	}
}
@media (max-width: 420px){
	.join-container input{
        width: 70%;
	}
}
.join-container input::placeholder{
    color: var(--text-color);
}
.join-container button{
    background-color: var(--first-color);
    padding: 15px;
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: box-shadow .4s;
    display: block;
    margin: auto;
    width: 23%;
}
@media (max-width: 768px){
	.join-container button{
        width: 40%;
	}
}
@media (max-width: 420px){
	.join-container button{
        width: 70%;
	}
}
.join-container button:hover{
    box-shadow: 0 4px 32px hsla(230, 72%, 32%, .4);
}

/* end join */

/* start customers */

.customers-container{
    padding-top: 100px;
    text-align: center;
}
.customers-container h1{
    font-family: var(--second-font);
    color: var(--title-color);
    margin-bottom: 60px;
    font-weight: 500;
}
.customers-container .customers .opinion{
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    padding: 35px 0;
    cursor: pointer;
}
.customers-container .customers .opinion img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.customers-container .customers .opinion h4{
    font-family: var(--second-font);
    color: var(--title-color);
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
}
.customers-container .customers .opinion p{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    color: var(--text-color);
    margin-bottom: 20px;
}
.customers-container .customers .opinion .book-icon{
    color: var(--first-color);
    font-size: 13px;
}

/* end customers */

/* start footer */

.footer{
    margin-top: 180px;
}
@media (max-width: 420px){
	.footer{
        margin-top: 100px;
    }
}
.footer .footer-container{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 420px){
	.footer .footer-container{
        flex-wrap: wrap;
    }
}
.footer .footer-first{
    margin-right: 120px;
}
@media (max-width: 420px){
	.footer .footer-first{
        margin-bottom: 50px;
    }
}
@media (max-width: 992px){
    .footer .footer-first{
        margin-right: 40px
	}
}
.footer .footer-first .footer-content{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.footer .footer-first .footer-content span{
    color: var(--first-color);
    margin-left: 5px;
    font-weight: 600;
    font-size: 20px;
    font-family: var(--second-font);
}
.footer .footer-first p{
    font-size: 14px;
    color: var(--text-color);
}
@media (max-width: 992px){
    .footer ul{
        margin-right: 30px;
	}
}
.footer ul li{
    margin-bottom: 20px;
    color: var(--text-color);
    font-size: 15px;
}
@media (max-width: 992px){
    .footer ul li{
        font-size: 13px;
	}
}
.footer h4{
    color: var(--title-color);
    font-family: var(--second-font);
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}
@media (max-width: 992px){
    .footer h4{
        font-size: 16px;
	}
}
.footer .footer-four p{
    margin-bottom: 20px;
    color: var(--text-color);
    font-size: 15px;
}
@media (max-width: 992px){
    .footer .footer-four p{
        font-size: 13px;
	}
}
@media (max-width: 420px){
	.footer .footer-social{
        margin-right: 50px;
    }
}
.footer .footer-social a{
    margin-right: 17px;
}
.footer .footer-social a i{
    font-size: 22px;
    color: var(--first-color);
}
@media (max-width: 992px){
    .footer .footer-social a i{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
	}
}
.footer .footer-copy{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 80px;
}
@media (max-width: 420px){
	.footer .footer-copy{
        margin-top: 30px;
        margin-bottom: 80px;
    }
}
.footer .footer-copy span{
    color: var(--text-color);
    font-size: 13px;
}

/* end footer */

/* start scrollup */

.scrollup{
    position: fixed;
    right: 30px;
    bottom: -50%;
    background-color: var(--body-color);
    box-shadow: var(--box-shadow);
    color: var(--title-color);
    display: inline-flex;
    padding: 6px;
    font-size: 1.25rem;
    border-radius: .35rem;
    z-index: 10;
    transition: bottom .4s , transform .4s;
}
.scrollup:hover{
    transform: translateY(-.5rem);
}
.show-scroll{
    bottom: 3rem;
}
@media (max-width: 992px){
	.show-scroll{
        bottom: 12%;
	}
}

/* end scrollup */
